// Colors
$green: #1ed760;
$grey: #989898;
$black: #000;
$white: #fff;
$card-white-bg: #f4f4f6;
$card-black-bg: #0f1312;

// Fonts

// Mon-Black Title H1
// Mon Medium para
// h2 mon 60 bold
// P 22 medium

$main-font: "Montserrat", sans-serif;

// Card Image URLS
$logo-url: "../../assets/images/card-images/svg/icon.svg";
$hero-url: "../../assets/images/home.gif";
$image-outgro-button: "../../assets/images/card-images/png/button.png";
$image-outgrow-button-hover: "../../assets/images/card-images/png/button-hover.png";
$image-flower: "../../assets/images/card-images/png/flower.png";
$image-4points: "../../assets/images/card-images/png/4points.png";
$image-beach: "../../assets/images/card-images/png/beach.png";
$card4-url: "../../assets/images/card-images/png/dig2.png";
$director-url: "../../assets/images/card-images/director.png";
$arrow-down: "../../assets/images/card-images/svg/down-arrow.svg";
$arrow-right: "../../assets/images/card-images/svg/arrow-right.svg";
$arrow-up: "../../assets/images/card-images/svg/arrow-top.svg";
$slider-img: "../../assets/images/card-images/png/slider-image.png";
