//sass --watch style.scss:style.min.css --style compressed
@import "libs/all.scss";
@import "theme/all.scss";
@import "componets/all.scss";

.section-2 {
  h2 {
    margin-bottom: 25px;

    @include maxWidth(420px) {
      padding-right: 75px;
    }
  }

  p {
    font-weight: 500;
  }
}

.section-4 {
  h2 {
    margin-bottom: 30px;

    @include maxWidth(420px) {     
      font-size: 24px;
      margin-bottom: 25px;
    }
  }

  p {
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 60px;
    @include maxWidth(420px) {
      line-height: 44px;
    }
    @include maxWidth(320px) {
      font-size: 15px;
    }
  }
}
.section-5 {
  .section-5-list {
    margin: 40px 0 45px;
  }

  @include maxWidth(420px) {
    h2 {
      padding-right: 30px;
    }

    .section-5-list {
      margin: 14px 0 30px;
    }
  }
}

section {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}
