//sass --watch style.scss:style.min.css --style compressed
@import 'theme/all.scss';
@import 'componets/all.scss';


.section-2 {
    h2 {
        margin-bottom: 25px;

        @include maxWidth(420px) {
            padding-right: 75px;
        }
    }

    p {
        font-weight: 500;
    }
}

.section-4 {
    h2 {
        margin-bottom: 30px;

        @include maxWidth(420px) {
            padding-right: 95px;
        }

    }

    p {
        font-weight: 500;
        margin-bottom: 0px;
        margin-top: 0px;
        line-height: 60px;
    }
}
.section-5{
    h2{
        @include maxWidth(420px) {
            padding-right: 30px;
        }
    }
}

section {
    overflow-x: hidden;
}

.overflow-y-hidden{
    overflow-y: hidden;
}

.overflow-x-hidden{
    overflow-x: hidden;
}