.card-white {
  background-color: $card-white-bg;
  color: $black;
  min-height: 70vh;

  
  @include maxWidth(1024px) {
    min-height: 50vh;
  }

  @include maxWidth(768px) {
    min-height: 40vh;
  }
}

.card-black {
  background-color: $card-black-bg;
  color: $white;
}
