.card-white {
  background-color: $card-white-bg;
  color: $black;
  min-height: 70vh;

  @include maxWidth(1280px) {
    padding: 60px 0px;
  }
}

.card-black {
  background-color: $card-black-bg;
  color: $white;
}
