.section-4{
    .image {
        @include image-default($image-4points, center, contain, no-repeat);
        height: 100%;
        width: 100%;
        @include maxWidth(767px){
            height: 188px;
            margin-bottom: 50px;
        }
    }
}